.btn {
	border-radius: 3px;
	padding: 10px 25px;
	height: auto;
	border: none;
	transition: all 0.4s;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;

	&.btn-primary {
		background-color: $primary-color;
		color: white;
		box-shadow: 1px 2px 5px $grey-text-color;

		&:hover {
			color: white;
			background-color: $primary-color;
			box-shadow: 1px 1px 2px $grey-text-color;
		}

		&:disabled {
			background-color: rgba(2, 28, 67, 0.2);
			box-shadow: none;
		}
	}

	&.btn-gray {
		background-color: #e0e0e0;
		color: rgba(0, 0, 0, 0.65) !important;
		border: solid 1px #d9d9d9;

		&:hover {
			background-color: black;
			color: white !important;
			border: solid 1px black;
			svg path {
				fill: white !important;
			}
		}
	}

	.turn-around {
		position: relative;
		animation-name: turn-over;
		animation-duration: 0.3s;
		animation-timing-function: linear;
	}
}

@keyframes turn-over {
	0% {
		transform: rotate(180deg);
	}
	12% {
		transform: rotate(202deg);
	}
	25% {
		transform: rotate(225deg);
	}
	50% {
		transform: rotate(270deg);
	}
	75% {
		transform: rotate(315deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 768px) {
	.btn {
		padding: 15px 25px;
	}
}
