$primary-color: black;
$secondary-color: black;
$accent-color: black;

$primary-text-color: #00255a;
$grey-text-color: #a3abb7;

$nav-link-color: #a3abb7;

$input-field-label-color: rgb(151, 159, 172);
